/** --------------------------------------------------------------------------------
 * GENERAL
 -------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  --text: #031926;
  --bg: #F9FAFB;
  --green: #209E61;
  --green-fade: #E4F2EB;
  --green-darker: #1C774B;
  --purple: #DCD9F7;
  --purple-darker: #ACA2EE;
  --light-mode: #EBBC5E;
  --light-mode-darker: #DFB259;
  --dark-mode: #02373D;
  --dark-mode-darker: #011e2b;
  --bg-dark: #111513;
  --text-dark: #FFFFFF;
}

html,
body {
  top: 0px;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'sans-serif';
  color: var(--text);
  background-color: var(--bg);
}

a {
  cursor: pointer;
}

a.button {
  text-decoration: none;
}

a.link {
  color: var(--green);
}

h1 {
  font-size: 1.17em;
}

footer {
  background-color: var(--text);
  color: #fff;
  padding: 250px 0 10px;
  font-size: 12px;
}

.left-aligned {
  text-align: left;
}

/** --------------------------------------------------------------------------------
 * BUTTON
 -------------------------------------------------------------------------------- */

.button {
  background-color: var(--green);
  color: #fff;
  padding: 14px 40px;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--green-darker);
}

/** --------------------------------------------------------------------------------
 * NAV
 -------------------------------------------------------------------------------- */

.nav {
  background-color: #fff;
  border-bottom: 1px solid #02373D;
  padding: 16px;
}

.nav__inner {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav ul li:not(:first-of-type) {
  margin-left: 28px;
}

.nav__links {
  display: flex;
}

.nav__links--btn {
  height: 34px;
  width: 34px;
  border-radius: 8px;
  background-color: var(--light-mode);
  background-image: url('../images/icon_light_mode.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}

.nav__links--btn:hover {
  background-color: var(--light-mode-darker);
}

.nav__mob {
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 100%;
  z-index: 9999;
  transition: 0.2s;
}

.nav__mob ul {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 200px 0;
  box-sizing: border-box;
  width: 90%;
}

.nav__mob ul li {
  margin: 0 !important;
  font-size: 28px;
}

.nav__mob-btn {
  display: none;
  height: 32px;
  width: 32px;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
}

.nav__mob-btn span, .nav__mob-close span {
  background-color: var(--text);
  width: 100%;
  display: block;
  height: 4px;
  border-radius: 2px;
}

.nav__mob-close span {
  position: absolute;
}

.nav__mob-close span:first-of-type {
  transform: rotate(45deg);
}

.nav__mob-close span:last-of-type {
  transform: rotate(-45deg);
}

.nav__mob-btn span:nth-of-type(2) {
  width: 40%
}

.nav__mob-open::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.nav__mob-close {
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: calc(10% + 16px);
  top: 16px;
}

/** --------------------------------------------------------------------------------
 * SECTION
 -------------------------------------------------------------------------------- */

.section {
  padding: 70px 16px;
}

.section--green {
  background-color: var(--green-fade);
}

.section--center {
  text-align: center;
}

.section .section__inner {
  max-width: 950px;
  margin: 0 auto;
}

.section .section__inner--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section .section__inner--flex .section__inner--flex-img {
  width: 330px;
  margin-right: 42px;
  flex-basis: 330px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

.section .section__inner--flex .section__inner--flex-img img {
  width: 100%;
  display: block;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}

.section .section__inner--flex .section__inner--flex-img::before {
  content: '';
  background-color: var(--green);
  width: 85%;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 50px;
  position: absolute;
  bottom: -10px;
  border-radius: 50px;
}

.section .section__inner .section__inner--subtitle {
  color: var(--green);
  font-size: 20px;
  margin-bottom: 22px;
}

.section .section__inner .section__inner--title {
  font-size: 42px;
  margin-bottom: 34px;
  font-weight: 500;
}

/** --------------------------------------------------------------------------------
 * HERO
 -------------------------------------------------------------------------------- */

.hero {
  background: url('../images/brew.png') right/550px no-repeat;
  padding: 200px 16px;
}

.hero--content {
  max-width: 60%;
}

.hero--img {
  background: url('../images/brew.png') right/contain no-repeat;
  position: absolute;
  height: 300px;
  width: 300px;
  right: 0;
  top: 30%;
}

/** --------------------------------------------------------------------------------
 * SERVICES
 -------------------------------------------------------------------------------- */

.services {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: 40px 90px;
  grid-auto-flow: row;
  text-align: left;
  margin-top: 62px;
}

.services--item-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.services--item-header span {
  font-size: 20px;
  font-weight: 500;
  margin-left: 14px;
}

/** --------------------------------------------------------------------------------
 * CALLOUT
 -------------------------------------------------------------------------------- */

.callout {
 position: relative;
 transform: translateY(150px);
}

.callout--inner {
 padding: 36px;
 background-color: var(--purple);
 border-radius: 20px;
 box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.2);
 position: relative;
}

.callout--inner-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.callout--inner-content div {
  max-width: 60%;
  margin-right: 20px;
}

.callout::before {
 content: '';
 background-color: var(--purple-darker);
 width: 95%;
 margin: 0 auto;
 left: 0;
 right: 0;
 height: 50px;
 position: absolute;
 bottom: -10px;
 border-radius: 50px;
}

/** --------------------------------------------------------------------------------
 * SOCIALS
 -------------------------------------------------------------------------------- */

.socials {
  margin-bottom: 32px;
}

.socials a {
  transition: 0.3s;
}

.socials a:hover {
  opacity: 0.6;
}

.socials a:first-of-type {
  margin-right: 20px;
}

/** --------------------------------------------------------------------------------
 * DARK MODE
 -------------------------------------------------------------------------------- */

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.dark-mode a, .dark-mode footer {
  color: var(--text-dark);
}

.dark-mode .nav {
  background-color: var(--bg-dark);
  border-bottom-color: #28312C;
}

.dark-mode .nav__links--btn {
  background-color: var(--dark-mode);
  background-image: url('../images/icon_dark_mode.svg');
  background-size: 40%;
}

.dark-mode .nav__links--btn:hover {
  background-color: var(--dark-mode-darker);
}

.dark-mode .nav__mob {
  background-color: var(--bg-dark);
}

.dark-mode .nav__mob-open::after {
  background-color: rgba(0, 0, 0, 0.6);
}

.dark-mode .nav__mob-btn span, .dark-mode .nav__mob-close span {
  background-color: white;
}

.dark-mode .section--green {
  background-color: #191D1B;
}

.dark-mode .callout {
  color: var(--text);
}

.dark-mode footer {
  background-color: #191D1B;
}

/** --------------------------------------------------------------------------------
 * MEDIA QUERIES
 -------------------------------------------------------------------------------- */

 @media (max-width: 1099px) {
   .hero {
     background-size: 450px;
   }
 }

 @media (max-width: 949px) {
   .hero {
     background-size: 350px;
   }
 }

 @media (max-width: 799px) {
   .section .section__inner--flex {
     flex-direction: column;
     align-items: start;
   }

   .section .section__inner--flex .section__inner--flex-img {
     margin-right: 0;
     margin-bottom: 44px;
     width: 40%;
     flex-basis: 40%;
   }

   .services {
     grid-template-columns: repeat(2, minmax(0, 1fr));
     grid-template-rows: repeat(2, auto);
     grid-gap: 40px;
   }

   .services--item:nth-of-type(3), .services--item:nth-of-type(2) {
     order: 1;
   }
 }

 @media (min-width: 700px) {
   .hero--img {
     display: none;
   }
 }

 @media (max-width: 699px) {
   .hero {
     background: none;
     padding: 100px 16px 200px;
   }
 }

 @media (max-width: 599px) {
   .nav__links {
     display: none;
   }

   .nav__mob-btn {
     display: flex;
   }

   .hero--img {
     display: none;
   }

   .hero {
     padding-bottom: 100px;
   }

   .hero--content {
     max-width: none;
   }

   .callout--inner br {
     display: none;
   }

   .callout--inner-content {
     align-items: start;
     flex-direction: column;
   }

   .callout--inner-content div {
     max-width: none;
     margin-right: 0;
     margin-bottom: 32px;
   }
 }

 @media (max-width: 499px) {
   .section .section__inner .section__inner--title {
     font-size: 32px;
   }

   .section .section__inner--flex .section__inner--flex-img::before {
     border-radius: 14px;
     bottom: -7px;
   }

   .section .section__inner--flex .section__inner--flex-img img {
     border-radius: 14px;
   }

   .services {
     grid-template-columns: repeat(1, minmax(0, 1fr));
     grid-template-rows: repeat(1, auto);
     grid-gap: 60px;
   }

   .callout {
     transform: translateY(80px);
   }

   .section:last-of-type {
     margin-bottom: -180px;
   }

   footer {
     padding-top: 250px;
     padding-bottom: 200px;
   }
 }
