* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

html,
body {
    top: 0px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "sans-serif";
    color: #444;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 1.17em;
}

h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 28px;
    color: #00324a;
}

h4 {
    margin-top: -10px;
    color: #00324a;
    font-size: 32px;
}

p {
    font-size: 12px;
    line-height: 24px
}

b {
    color: #45b29a;
}

a {
    text-decoration: none;
    color: #333;
}

canvas {
    position: absolute;
    top: 0px
}

#loading {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    opacity: 0.8;
    text-align: center;
}

/*.dot {
    width: 8px;
    height: 8px;
    background-color: #444;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    display: inline;
    z-index: 20;
}

.dot-1 {
    animation: dot-1 2s infinite;
    left: 35%;
}

.dot-2 {
    animation: dot-2 2s infinite;
    left: 50%;
}

@keyframes dot-1 {
    0% {left: 35%}
    50% {left: 65%}
    100% {left: 35%}
}

@keyframes dot-2 {
    0% {top: 45%}
    50% {top: 55%}
    100% {top: 45%}
}*/

#welcome {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100vh;
    font-family: 'Special Elite',cursive;
    transform: translateY(0px);
}

.btn-outer {
    height: 45px;
    width: 300px;
    position: relative;
    border-radius: 3px;
    background-color: rgba(0, 185, 156, 0.6);
    transition: 0.4s;
    font-weight: 400;
    font-family: "Open Sans", "sans-serif";
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    line-height: 45px;
}

.btn-outer:hover {
    background-color: rgba(0, 185, 156, 0.9);
    transition: 0.4s;
}

.btn-outer:focus {
    outline: none;
    background-color: rgba(0, 185, 156, 1);
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-side {
    margin-left: 50px;
    margin-right: 50px;
}

.margin-vertical-top {
    margin-top: 50px;
}

.margin-vertical-top-small {
    margin-top: 20px;
}

.margin-vertical-top-xsmall {
    margin-top: 10px;
}

.margin-vertical-bottom {
    margin-bottom: 50px;
}

.margin-vertical-bottom-small {
    margin-bottom: 20px;
}

.padding-vertical-top {
    padding-top: 50px;
}

.padding-vertical-bottom {
    padding-bottom: 50px;
}

.centre {
    text-align: center;
}

#section-1 {
    display: block;
    height: 75%;
    overflow: hidden;
    width: 100%;
}

#h2-1,
#line-1 {
    left: -9999;
}

#parallax-container {
    display: block;
    height: 730px;
}

#parallax-container div {
    position: fixed;
    top: 0;
    background-position: center !important;
    transform: translateY(0px);
    height: 750px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-2, .section-3, .section-5 {
    position: relative;
    background-color: white;
    width: 100%;
}

.section-5:before {
    content: '';
    position: absolute;
    margin-top: -100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    opacity: 0.8;
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
}

.section-5:after {
    content: '';
    position: absolute;
    margin-top: -100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    opacity: 1;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.line {
    background-color: #00324a;
    height: 3px;
    width: 80px;
}

.selfie {
    width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #555;
    position: absolute;
    opacity: 0.6;
    z-index: 2;
}

.bg-div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.selfie-div {
    width: 300px;
    height: 300px;
    max-width: 800px;
    border-radius: 50%;
    border: 2px solid #444;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #c5ded7;
    text-align: center;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dark-bg {
    background-color: #e3f1f2;
}

.trans-one {
    transition: 1s;
}

.img {
    width: 90%;
    box-shadow: 0px 10px 10px -5px #999;
}

.section-4 {
    position: relative;
}

.section-3:before {
    content: '';
    position: absolute;
    margin-top: -40px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #e3f1f2;
    opacity: 1;
    clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
}

/*.section-4:before {
    content: '';
    position: absolute;
    margin-top: -40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #e3f1f2;
    opacity: 1;
    clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
}*/

.section-3:after {
    content: '';
    position: absolute;
    margin-top: -40px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #e3f1f2;
    opacity: 0.4;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 100%);
}

.section-5 {
    position: relative;
}

.brew {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes brewFade1 {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes brewFade2 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.brew-1 {
    box-shadow: 0px 10px 10px -5px #999;
    animation-name: brewFade2;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.brew-2 {
    animation-name: brewFade1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    position: relative;
    box-shadow: none;
}

.section-6 {
    z-index: 10;
    position: relative;
}

.social {
    padding: 20px 10px;
    width: 30px;
}

#msg {
    margin-bottom: 50px;
}
/*remove this?*/

@media only screen and (min-width: 800px) {
    .large-width {
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .section-2 p, .section-4 p, .section-5 p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
    
    p {
        font-size: 14px;
    }
    
    .img {
        width: 50%;
        min-width: 700px;
    }
    
    #h2-4 {
        padding-top: 50px;
    }
    
    .i-b-4 {
        margin-bottom: 50px;
    }
}

#countdown-body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #FFEBEC;
    overflow: scroll;
    height: auto;
}

#countdown-body h3 {
    color: #888
}

.countdown-h3 {
    margin-top: 15vh;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#target-container {
    width: 100%;
    margin-top: 5vh;
}

.target-wrapper {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: #84DCC6;
    border-radius: 15px;
}

.target {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 50px;
    color: white;
}

.day-card {
    margin: 5vh 15px;
    display: inline-block;
    height: 100px;
    width: 10%;
    text-align: center;
}

#surprise {
    margin-top: 40vh;
    display: none;
}

#destination {
    font-size: 100px;
}

.confetti {
    height: 10px;
    width: 10px;
    background-color: green;
    top: 100px;
    left: 100px;
    position: absolute;
}

.socials {
    display: inline;
    width: auto;
}

i {
    color: #00324a;
    font-size: 30px;
}


.wrapper {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
        }

        .animation,
        .description {
            width: 50%;
            position: relative;
        }
        
        .description {
            display: flex;
            align-items: center;
            justify-content: center;
            /* ^ This aligns content to center of div ^ */
        }
        
        .des-inner {
            max-width: 80%;
        }

        .animation {
            text-align: center;
        }

        svg {
            height: 400px;
            width: 400px;
            top: 0;
            left: 50%;
            margin: auto;
            overflow: visible;
        }
        
        
        /* 
        
        
        
        EFFICIENT 
        
        
        
        */
        

        .css,
        .slash {
            opacity: 0;
        }
        
        .html-left,.html-right,.wrench,.slash,.circle-pop-1,.circle-pop-2,.circle-pop-3,.circle-pop-4,.laptop,.tablet,.mobile,.cog-1,.cog-2{transform-box:fill-box;}
        
        .html-left,.html-right,.laptop,.tablet,.mobile,.cog-1,.cog-2{transform-origin: center;}

.pop-line-1, .pop-line-2, .circle-pop-1, .circle-pop-2, .circle-pop-3, .circle-pop-4 {
    opacity: 0;
}

        .ani-1 > g > .html-left {
            animation: leftBracket 7s 1 forwards;
        }

        .ani-1 > g > .html-right {
            animation: rightBracket 7s 1 forwards;
        }
        
        .ani-1 > .wrench {
            animation: wrench 8s 1 forwards;
        }
        
        .ani-1 > g > .slash {
            animation: slash 8s 1 forwards;
        }
        
        .ani-1 > g > .pop-line-1, .ani-1 > g > .pop-line-2, .ani-2 > g > .pop-line-1, .ani-2 > g > .pop-line-2, .ani-3 > g > .pop-line-1, .ani-3 > g > .pop-line-2  {
            stroke-width: 1;
        }
        
        .ani-1 > g > .pop-line-1, .ani-2 > g > .pop-line-1, .ani-3 > g > .pop-line-1 {
            stroke-dashoffset: 20;
            stroke-dasharray: 20;
            animation: popLine1 0.5s linear forwards;
            animation-delay: 0.3s;
        }
        
        @keyframes popLine1 {
            0% {stroke-dashoffset:20; opacity: 1;}
            70% {stroke-dashoffset:-10}
            100% {stroke-dashoffset:-20}
        }
        
        .ani-1 > g > .circle-pop-1, .ani-2 > g > .circle-pop-1, .ani-3 > g > .circle-pop-1  {
            stroke-width: 0;
            animation: circlePop1 0.8s linear forwards;
            animation-delay: 0.3s;
        }
        
        @keyframes circlePop1 {
            0% {stroke-width:0; opacity: 1;}
            10% {stroke-width:3}
            70% {stroke-width:0}
            100% {transform: translate(-10px, -20px) scale(0);stroke-width:0}
        }
        
        .ani-1 > g > .circle-pop-2, .ani-2 > g > .circle-pop-2, .ani-3 > g > .circle-pop-2  {
            stroke-width: 0;
            animation: circlePop2 0.7s linear forwards;
            animation-delay: 0.3s;
        }
        
        @keyframes circlePop2 {
            0% {stroke-width:0; opacity: 1;}
            70% {stroke-width:3}
            100% {transform: translate(10px, 40px) scale(0.5);stroke-width:0}
        }
        
        .ani-1 > g > .circle-pop-3, .ani-2 > g > .circle-pop-3, .ani-3 > g > .circle-pop-3  {
            stroke-width: 0;
            animation: circlePop3 0.5s linear forwards;
            animation-delay: 0.3s;
        }
        
        @keyframes circlePop3 {
            0% {stroke-width:0; opacity: 1;}
            70% {stroke-width:3}
            100% {transform: translate(50px, -10px) scale(0);stroke-width:0}
        }
        
        .ani-1 > g > .circle-pop-4, .ani-2 > g > .circle-pop-4, .ani-3 > g > .circle-pop-4 {
            stroke-width: 0;
            animation: circlePop4 0.5s linear forwards;
            animation-delay: 0.3s;
        }
        
        @keyframes circlePop4 {
            0% {stroke-width:0; opacity: 1;}
            70% {stroke-width:3}
            100% {transform: translate(-50px, 70px) scale(0.1);stroke-width:0}
        }
        
        .ani-1 > g > .pop-line-2, .ani-2 > g > .pop-line-2, .ani-3 > g > .pop-line-2 {
            stroke-dashoffset: -20;
            stroke-dasharray: 20;
            animation: popLine2 0.5s linear forwards;
            animation-delay: 0.3s;
        }
        
        @keyframes popLine2 {
            0% {stroke-dashoffset:-20; opacity: 1;}
            70% {stroke-dashoffset:10}
            100% {stroke-dashoffset:20}
        }

        @keyframes wrench {
            0% {transform: scale(0); opacity: 1;}
            5% {transform: scale(0)}
            15.5% {transform: scale(1.2) rotate(20deg)}
            20% {transform: scale(1) rotate(0deg)}
            25% {transform: rotate(360deg)}
            33.5% {transform: rotate(390deg)}
            37.5% {transform: rotate(360deg)}
            46% {transform: rotate(390deg)}
            50% {transform: rotate(360deg)}
            58.5% {transform: rotate(390deg)}
            62.5% {transform: rotate(360deg)}
            71% {transform: rotate(390deg)}
            75% {transform: rotate(360deg)}
            83.5% {transform: rotate(390deg)}
            87.5% {transform: rotate(360deg) translate(0)}
            95% {transform: translate(-10px, 20px); opacity: 1}
            97% {opacity: 0}
            100% {transform: translate(50px, -200px); opacity: 0}
        }
        
        @keyframes slash {
            0% {transform: translate(-50px, 200px); opacity: 0}
            95% {transform: translate(-50px, 200px); opacity: 0}
            97.5% {transform: translate(10px, -30px); opacity: 1}
            100% {transform: translate(0, 0px); opacity: 1}
        }
        
        @keyframes leftBracket {
            0% {transform: translateX(0) scale(0); opacity: 1;}
            10% {transform: translateX(0) scale(1.2)}
            28.55% {transform: translateX(0)scale(1)}
            42.84% {transform: translateX(20px)}
            57.13% {transform: translateX(40px)}
            71.42% {transform: translateX(60px)}
            85.71% {transform: translateX(80px)}
            100% {transform: translateX(100px); opacity: 1;}
        }
        
        @keyframes rightBracket {
            0% {transform: translateX(0) scale(0); opacity: 1;}
            14.26% {transform: translateX(0) scale(1.2)}
            28.55% {transform: translateX(0)scale(1)}
            42.84% {transform: translateX(-20px)}
            57.13% {transform: translateX(-40px)}
            71.42% {transform: translateX(-60px)}
            85.71% {transform: translateX(-80px)}
            100% {transform: translateX(-100px); opacity: 1;}
        }
        
        
        /* 
        
        
        
        REPOSONSIVE
        
        
        
        */
        
        .ani-2 > .laptop {
            animation: laptop 8s forwards;
        }
        
        @keyframes laptop {
            0% {transform: scale(0); opacity: 1;}
            6% {transform: scale(1.2)}
            8% {transform: scale(1)}
            40% {transform: rotate(0deg)}
            50% {transform: rotate(370deg)}
            60% {transform: rotate(360deg)}
            75% {transform: rotate(360deg)}
            85% {transform: rotate(740deg)}
            95% {transform: rotate(720deg)}
            100% {transform: rotate(720deg);opacity: 1;}
        }
        
        .ani-2 > .tablet {
            animation: tablet 8s forwards;
        }
        
        @keyframes tablet {
            0% {transform: scale(0) rotate(0deg); opacity: 1;}
            40.5% {transform: scale(0) rotate(0deg)}
            50.5% {transform: scale(1.2) rotate(370deg)}
            60.5% {transform: scale(1) rotate(360deg)}
            75.5% {transform: rotate(360deg)}
            85.5% {transform: rotate(740deg)}
            95.5% {transform: rotate(720deg)}
            100% {transform: rotate(720deg);opacity: 1}
        }
        
        .ani-2 > .mobile {
            animation: mobile 8s forwards;
        }
        
        @keyframes mobile {
            0% {transform: scale(0) rotate(0deg); opacity: 1;}
            76% {transform: scale(0) rotate(0deg)}
            86% {transform: scale(1.2) rotate(370deg)}
            96% {transform: scale(1) rotate(360deg)}
            100% {transform: rotate(360deg); opacity: 1}
        }
        
        
        /*
        
        
        
        PASSION
        
        
        
        */
        
        .ani-3 > .heart {
            stroke-dashoffset: 550;
            stroke-dasharray: 550;
            animation: heart 8s forwards;
        }
        
        @keyframes heart {
            0% {stroke-dashoffset: 550; opacity: 1;}
            15% {stroke-dashoffset: 440}
            20% {stroke-dashoffset: 440}
            35% {stroke-dashoffset: 330}
            40% {stroke-dashoffset: 330}
            55% {stroke-dashoffset: 220}
            60% {stroke-dashoffset: 220}
            75% {stroke-dashoffset: 110}
            80% {stroke-dashoffset: 110}
            95% {stroke-dashoffset: 0}
            100% {stroke-dashoffset: 0; opacity: 1}
        }
        
        .ani-3 >.cog-1 {
            animation: cog1 8s forwards;
        }
        
        @keyframes cog1 {
            0% {transform: rotate(0deg); opacity: 1;}
            15% {transform: rotate(30deg)}
            20% {transform: rotate(30deg)}
            35% {transform: rotate(60deg)}
            40% {transform: rotate(60deg)}
            55% {transform: rotate(90deg)}
            60% {transform: rotate(90deg)}
            75% {transform: rotate(120deg)}
            80% {transform: rotate(120deg)}
            95% {transform: rotate(150deg)}
            100% {transform: rotate(150deg); opacity: 1}
        }
        
        .ani-3 > .cog-2 {
            animation: cog2 8s forwards;
        }
        
        @keyframes cog2 {
            0% {transform: rotate(0deg); opacity: 1;}
            15% {transform: rotate(-30deg)}
            20% {transform: rotate(-30deg)}
            35% {transform: rotate(-60deg)}
            40% {transform: rotate(-60deg)}
            55% {transform: rotate(-90deg)}
            60% {transform: rotate(-90deg)}
            75% {transform: rotate(-120deg)}
            80% {transform: rotate(-120deg)}
            95% {transform: rotate(-150deg)}
            100% {transform: rotate(-150deg); opacity: 1}
        }

