/** --------------------------------------------------------------------------------
 * DARK MODE
 -------------------------------------------------------------------------------- */

 body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);

  a, footer {
    color: var(--text-dark);
  }
  
  .nav {
    background-color: var(--bg-dark);
    border-bottom-color: #28312C;

    &__links--btn {
      background-color: var(--light-mode);
      background-image: url('images/icons/icon_light_mode.svg');
      background-size: 60%;
      
      &:hover {
        background-color: var(--light-mode-darker);
      }
    }
    
    &__mob {
      background-color: var(--bg-dark);

      &-open::after {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &-btn span, &-close span {
        background-color: white;
      }

      &-item {
        color: #fff;
      }
    }
  }
  
  .section--green {
    background-color: #191D1B;
  }
  
  .callout {
    color: var(--text);
  }
  
  footer {
    background-color: #191D1B;
  }
  
  .case-study-tile {
    background-color: #232524;
    border-color: #232524;
  }
  
  .case-study--tag {
    background-color: var(--green);
    color: #fff;
  }
  
  .case-study--info {
    background-color: #232524;

    @media (max-width: 799px) {
      &-cover::before {
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 25%, rgba(0,0,0,1) 100%);
      }
    }
  }

  .cookie-banner .callout--inner {
    background-color: var(--green-fade);
  }

  .button--secondary {
    color: var(--green);
    background-color: transparent;
  }

  input[type="text"], textarea, select {
    border: 1px solid #454545;
    color: #fff;
    background-color: #232524;
    &::placeholder {
      color: #727272;
    }
  }

  select {
    background: #232524 url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='grey' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  }

  .search--wrapper .search--clear {
    background-color: var(--green);
    background-image: url('images/icons/icon_cross_white.svg');
  }
}