/** --------------------------------------------------------------------------------
 * HERO
 -------------------------------------------------------------------------------- */

 .hero {
  background: url('images/brew-half.png') right/550px no-repeat;
  padding: 200px 16px;

  &--content {
    max-width: 60%;
  }
  
  &--img {
    background: url('images/brew-half.png') right/contain no-repeat;
    position: absolute;
    height: 300px;
    width: 300px;
    right: 0;
    top: 30%;
  }

  @media (max-width: 1099px) {
    background-size: 450px;
  }

  @media (max-width: 949px) {
    background-size: 350px;
  }

  @media (min-width: 700px) {
    &--img {
      display: none;
    }
  }
 
  @media (max-width: 699px) {
    background: none;
    padding: 100px 16px 200px;
  }
 
  @media (max-width: 599px) {
    padding-bottom: 100px;

    &--img {
      display: none;
    }
 
    &--content {
      max-width: none;
    }
  }
}