/** --------------------------------------------------------------------------------
 * SECTION
 -------------------------------------------------------------------------------- */

 .section {
  padding: 70px 16px;

  &--green {
    background-color: var(--green-fade);
  }

  &--center {
    text-align: center;
  }

  &--small {
    padding-top: 0px;
  }

  .section__inner {
    max-width: 950px;
    margin: 0 auto;

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .section__inner--flex-img {
        width: 330px;
        margin-right: 42px;
        flex-basis: 330px;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;

        img {
          width: 100%;
          display: block;
          border-radius: 24px;
          overflow: hidden;
          position: relative;

          @media (max-width: 499px) {
            img {
              border-radius: 14px;
            }
          }
        }

        &::before {
          content: '';
          background-color: var(--green);
          width: 85%;
          margin: 0 auto;
          left: 0;
          right: 0;
          height: 50px;
          position: absolute;
          bottom: -10px;
          border-radius: 50px;
        }

        @media (max-width: 499px) {
          &::before {
            border-radius: 14px;
            bottom: -7px;
          }
        }
      }

      @media (max-width: 799px) {
        flex-direction: column;
          align-items: start;
     
        .section__inner--flex-img {
          margin-right: 0;
          margin-bottom: 44px;
          width: 40%;
          flex-basis: 40%;
        }
      }
    }

    &--subtitle {
      color: var(--green);
      font-size: 20px;
      margin-bottom: 22px;
    }
    
    &--title {
      font-size: 42px;
      margin-bottom: 34px;
      font-weight: 500;

      @media (max-width: 499px) {
        font-size: 32px;
      }

      &-large {
        font-size: 124px;
        margin-bottom: 12px;
        line-height: 104px;

        @media (min-width: 499px) {
          font-size: 184px;
          margin-bottom: 12px;
          line-height: 164px;
        }
      }
    }
  }

  @media (max-width: 499px) {
    &:last-of-type {
     margin-bottom: -180px;
    }
  }
}