/** --------------------------------------------------------------------------------
 * SOCIALS
 -------------------------------------------------------------------------------- */

 .socials {
  margin-bottom: 32px;

  a {
    transition: 0.3s;

    &:hover {
      opacity: 0.6;
    }

    &:first-of-type {
      margin-right: 20px;
    }
  }
}