<div id="contact" class="callout left-aligned">
  <div class="callout--inner">
    <h1 class="section__inner--title">
      Let's grow your business,<br/> together
    </h1>
    <div class="callout--inner-content">
      <div>
        Whether you're after a new design, fresh development or just have a
        great business idea you want to get the ball rolling on, I'm here to help.
        I'm just a click away. Let's get started, today.
      </div>
      <a class="button" href="mailto:connorlaw96@hotmail.com?subject=Website%20enquiry">
        Get started
      </a>
    </div>
  </div>
</div>
