<footer>
  <section class="section">
    <div class="section__inner">
			<div>
				<div class="icons">
					<a target="_blank" href="https://www.upwork.com/freelancers/connorlaw" rel="noopener noreferrer">
						<img height="32" width="32" alt="Upwork logo" class="social" src="/images/logos/logo_upwork.svg">
					</a>
					<a target="_blank" href="https://uk.linkedin.com/in/connor-law-77b176159" rel="noopener noreferrer">
						<img height="32" width="32" alt="Linkedin logo" class="social" src="/images/logos/logo_linkedin.svg">
					</a>
				</div>
				<p>&copy; 2026 &middot; Connor Law</p>
			</div>
			<div>
				<div class="icons icons-single">
					<a target="_blank" href="https://notbyai.fyi" rel="noopener noreferrer">
						<img height="48" width="150" alt="Developed by a Human: Not by Ai" class="social" src="/images/logos/notbyai.svg">
					</a>
				</div>
				<p>Proudly hand-coded with &#9825;</p>
			</div>
    </div>
  </section>
</footer>
