<nav class="nav">
  <div class="nav__inner">
    <a href="/"><img alt="Connor Law's logo" src="/images/logos/logo.svg" /></a>
    <div class="nav__links">
      <ul>
        <li>
          <a class="nav__mob-item" href="/#about">About</a>
        </li>
        <li>
          <a class="nav__mob-item" href="/#services">Services</a>
        </li>
        <li>
          <a class="nav__mob-item" href="/case-studies">Case studies</a>
        </li>
        <li>
          <a class="nav__mob-item" href="/til">TIL</a>
        </li>
        <li>
          <a class="nav__mob-item" href="/#contact">Contact</a>
        </li>
        <li>
          <div class="nav__links--btn"></div>
        </li>
      </ul>
    </div>
    <div class="nav__mob-btn">
      <span></span>
      <span></span>
    </div>
    <div class="nav__mob">
      <div class="nav__mob-close">
        <span></span>
        <span></span>
      </div>
      <ul>
        <li>
          <a class="nav__mob-item" href="/#about">About</a>
        </li>
        <li>
          <a class="nav__mob-item" href="/#services">Services</a>
        </li>
        <li>
          <a class="nav__mob-item" href="/case-studies">Case studies</a>
        </li>
        <li>
          <a class="nav__mob-item" href="/til">TIL</a>
        </li>
        <li>
          <a class="nav__mob-item" href="/#contact">Contact</a>
        </li>
        <li>
          <div class="nav__links--btn"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
