---
layout: base
---

<section class="section">
  <div class="section__inner">
    <p class="section__inner--subtitle section--center">Case study</p>
    <h1 class="section__inner--title section--center">{{ subtitle | safe }}</h1>
    <img
      alt="Case study mockups"
      class="case-study--hero"
      src="{{ image }}"
    />

    <div class="case-study">
      <div class="case-study--main">
        {{ content | safe }}
      </div>

      <div class="case-study--info case-study--info-cover" onclick="this.classList.remove('case-study--info-cover')">
        <span class="case-study-tile--title">Details</span>
        <p>{{ shortDesc | safe }}</p>

        <br />

        <span class="case-study-tile--title">Skills</span>
        <div class="case-study--tags">
          {% for skill in skills %}
            <div class="case-study--tag">{{ skill }}</div>
          {% endfor %}
        </div>

        <br />

        <span class="case-study-tile--title">Tools</span>
        <div class="case-study--tools">
          {% for tool in tools %}
            <img
              alt="{{ tool.name }} logo"
              class="tooltip"
              data-tooltip="{{ tool.name }}"
              src="{{ tool.logo }}"
              height="32"
              width="32"
            >
          {% endfor %}
        </div>

				{% if liveUrl %}
					<br />
					<a class="button" href="{{ liveUrl | safe }}" target="_blank" rel="noopener noreferrer">Visit live site</a>
				{% endif %}
      </div>
    </div>
  </div>
</section>

{% if testimonial %}
<section class="section">
  <div class="section__inner section__inner--flex">
    <div class="callout testimonial left-aligned">
      <div class="callout--inner">
        <p>"{{ testimonial.quote }}"</p>
        <div class="testimonial-quoter">
          {% if testimonial.avatar %}
            <img alt="{{ testimonial.name }}" src="{{ testimonial.avatar }}" />
          {% endif %}
          <div>
            <div><strong>{{ testimonial.name }}</strong></div>
            <div>{{ testimonial.jobTitle }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section id="case-studies" class="section">
  <div class="section__inner">
    <p class="section__inner--subtitle">Case studies</p>
    <h1 class="section__inner--title">More of my latest work</h1>

    <div class="case-study-tiles">
			{% if related %}
        {% set otherStudies = collections.caseStudies | withSlugs(related) %}
      {% else %}
        {% set otherStudies = collections.caseStudies | except(page.url) | limit(3) %}
      {% endif %}
      {% for study in otherStudies %}
        <div class="case-study-tile-wrap">
          <a class="case-study-tile" href="{{ study.url }}">
            <img alt="Case study mockup" src="{{ study.data.thumbnail }}" />
            <span class="case-study-tile--title">{{ study.data.title }}</span>
            <p>{{ study.data.previewDesc }}</p>
            <div class="case-study--tags">
              {% for skill in study.data.skills | limit(3) %}
                <div class="case-study--tag">{{ skill }}</div>
              {% endfor %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <br/>
    <a class="button" href="/case-studies">Show all</a>

    {% include "partials/contact-callout.njk" %}
  </div>
</section>
