---
layout: base
---

<section class="section">
  <div class="section__inner">
    <p class="section__inner--subtitle section--center">
      Today I Learned
    </p>
    <h1 class="section__inner--title section--center">{{ title }}</h1>

    <div class="case-study">
      <div class="case-study--main til-post">

        <div class="til-post--meta">
          <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
          {% if tags %}
						•
            <div class="case-study--tags">
              {% for tag in tags %}
                {% if tag != "til" %}
                  <div class="case-study--tag">{{ tag }}</div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {{ content | safe }}
      </div>
    </div>

    <br/>
    <a class="button" href="/til">Back to TIL</a>

    {% include "partials/contact-callout.njk" %}
  </div>
</section>
